<div class="col-lg-3 col-md-4 col-xs-6">
	<a href="#" class="d-block mb-4 h-100">
		<h2 class="card-title">Name: <%= contact.name %></h2>
		<!--%= image_tag contact.image.url , class: 'responsive-img' %-->
	</a>
</div>

