<div class="container">

	<h1 class="my-4 text-center text-lg-left">Repertory</h1>
	<div class="row text-center text-lg-left">
		<!--% @uploads = Upload.all %-->
		<% @contacts.each do |c| %>
			<%= render 'contact_thumbnail', contact: c %>
		<% end %>			
	</div>
</div>
